<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcy.blog.mapper.CategoryOfArticleMapper">

    <cache eviction="LRU" type="com.zcy.blog.config.redis.RedisCache"></cache>

    <select id="getCategoryListPage" resultType="com.zcy.blog.entity.CategoryOfArticle">
        SELECT DISTINCT	c.`id`,c.`name`,c.`started`,c.`level`,c.`f_id`,c.article_num articleNum
        FROM `category_of_article` c
        LEFT JOIN `article` a ON c.`id` = a.`c_id`
        ORDER BY id DESC
    </select>

    <select id="getCategoryList" parameterType="com.zcy.blog.entity.pojo.CategoryListQuery" resultType="com.zcy.blog.entity.CategoryOfArticle">
        SELECT DISTINCT	c.`id`,c.`name`,c.`started`,c.`level`,c.`f_id`,c.published_num publishedNum
        FROM `category_of_article` c
        LEFT JOIN `article` a ON c.`id` = a.`c_id`
        ORDER BY id DESC
    </select>
</mapper>
